Package: com.maxkatzmann.dontmiss
Name: DontMiss
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Max Katzmann
Author: Max Katzmann
Section: Tweaks
